@tailwind base;
@tailwind components;
@tailwind utilities;

.front{
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}

.flipped .front{
    transform: rotateY(0deg);
    transition-delay: 0.1s;
}

.back{
    transition: all ease-in 0.4;
    transition-delay: 0.2s;
}

.flipped .back{
    transform: rotateY(90deg);
    transition-delay: 0s;
}